img {
  width: 50px;
  height: 50px;
}

.side-bar{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

div.activity-display{
  margin-left: 200px;
  height: 500px;
  overflow: auto;
}


