<button (click)="onToggleSidebar()">☰</button>
@if(isSidebarActive()){ <!-- Open sidebar -->
  <div class="side-bar">
  <button (click)="openCreateGroupPopup()">New Group</button>
  @if(newGroup()){
    <textarea #groupName></textarea>
    <button (click)="createGroup(groupName.value)">Create</button>
  }
    @if(groups.length === 0){<!-- display activities, if groups are empty, else display groups -->
    <ul>
      @for(a of userActivities; track a.activityId){
        <li>
          <button (click)="onChooseActivity(a)">{{a.name}}</button>
        </li>
      }
    </ul>
    }@else{ <!-- currently doesn't display uncategorized activities-->
      <ul>
        @for(g of groups; track g.name){
          <li>
            <p>{{g.name}}</p>
            <button (click)="toggleIsGroupActive(g.name)">{{g.sign}}</button>
            @if(g.isActive){
              <ul>
                @for(a of g.activities; track a.activityId){
                  <li>
                    <button (click)="onChooseActivity(a)">{{a.name}}</button>
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    }
  <button (click)="showNewActivityWindow()">Add activity</button>
  </div>
}
<div class="activity-display">
@if(chosenActivity().name){<!-- display activity clicked on in sidebar -->
  <div>
    <p>{{chosenActivity().name}}</p>
    <img [src]="chosenActivity().picture?.filePath || 'default.jpg'" alt="Activity picture">
    <button (click)="onChooseActivityOptions('ACHIEVEMENTS')">Achievements</button>
    <button (click)="onChooseActivityOptions('SESSIONS')">Sessions</button>
    <button (click)="onChooseActivityOptions('SETTINGS')">SETTINGS</button>
</div>
  @if(activityOption() === "ACHIEVEMENTS"){
    <app-achievements [achievements]="chosenActivity().achievements"/>
  }@else if (activityOption() === 'SESSIONS'){
    <app-sessions [sessions]="chosenActivity().sessions" (newSessionOutput)="addNewSession($event)"></app-sessions>
  }@else if (activityOption() === 'SETTINGS'){
    <div>
      <button (click)="deleteActivity()">Delete {{chosenActivity().name}}</button>
    </div>
  }
}@else{
    <form [formGroup]="newActivityForm" (ngSubmit)="addNewActivity()">
      <div>
        <label>Name</label>
        <input
        id="name"
        name="name"
        formControlName="name">
      </div>
      <div>
        <label>Info</label>
        <input
        id="info"
        name="info"
        formControlName="info">
      </div>
      <div>
        <label>Category</label>
        <input
        id="category"
        name="category"
        formControlName="category">
      </div>
      <div>
        <label>Private</label>
        <input
          type="checkbox"
          id="isPrivate"
          name="isPrivate"
          formControlName="isPrivate">
      </div>
      <div>
        <label>Type</label>
        <input
          id="type"
          name="type"
          formControlName="type"
        >
      </div>
      <button type=submit>Add activity</button>
    </form>
}
</div>

