<div>
  @if(!toggleCreateNewAchievement){
    @for(a of achievements(); track a.achievementId){
      <app-achievement-display [achievement]="a"/>
    }
  <button (click)="onAddNewAchievement()">Add New Achievement</button>
  }@else{
    <form [formGroup]="newAchievementForm" (ngSubmit)="addNewAchievement()">
      <div>
        <label>Name</label>
        <input
          id="name"
          name="name"
          formControlName="name"
        >
      </div>
      <div>
        <label>Info</label>
        <input
          id="info"
          name="info"
          formControlName="info"
        >
      </div>
      <div>
        <label>Type</label>
        <select
          id="type"
          name="type"
          formControlName="type"
        >
          @for(t of typeOptions; track typeOptions.length){
            <option [value]="t">{{t}}</option>
          }
        </select>
      </div>
      <button type="submit">Add Achievement</button>
    </form>
  }
</div>
