<div class="header-container">
  <a class="logo" [class.active]="router.url === '/'" routerLink="/">HOME</a>
  <ul class="nav-list">
    <li [class.active]="router.url.startsWith('/workspace')">
      <a routerLink="/workspace">Workspace</a>
    </li>
    <li [class.active]="router.url.startsWith('/templates')">
      <a routerLink="/templates">Templates</a>
    </li>
    <li [class.active]="router.url.startsWith('/profile')">
      <a routerLink="/profile">Profile</a>
    </li>
    <li [class.active]="router.url.startsWith('/settings')">
      <a routerLink="/settings">Settings</a>
    </li>
  </ul>
  <div class="auth-buttons">
    @if (isLoggedIn()) {
      <button>Log out</button>
    } @else {
      <button (click)="onClickLogin()">Log in</button>
      <button (click)="onClickRegister()">Register</button>
    }
  </div>
</div>
<router-outlet/>
