<div id="ach-display">
  <div class="ach-name">
    <p>{{achievement().name}}</p>
  </div>
  <div class="ach-type">
    <span>{{achievement().type}}</span>
  </div>
  <div class="ach-info">
    <span>{{achievement().info}}</span>
  </div>
  <div class="ach-check">
    @if(achievement().type=== 'GOAL'){
    <span>Finished</span>
    <div class="checkmark"></div>
    }@else if(achievement().type === 'DAILY'){
      <span>Today</span>
      <div class="checkmark"></div>
    } @else if (achievement().type === 'AMOUNT'){
      <p>amount</p>
    }
  </div>
  <div class="ach-picture">
    <span>
<!--      <img [src]="achievement().picture?.filePath || 'default.jpg'" alt="Achievement picture">-->
    </span>
  </div>
  <div>
    <button (click)="deleteAchievement()">X</button>
  </div>
</div>

